<div class="container">
<h1 class="tex-center my-4">Results</h1>
  <div class="row justify-content-center bg-light p-5">
    <div class="col-10 fs-4 pb-3">Your word: <strong><%= params[:word] %></strong></div>
    <%if @english_word && @valid_word %>
       <div class="col-8 fs-4 bg-success text-light p-4 rounded"> <%="congratulations your score is: #{(params[:word].size * 100) / @total_time.to_i} points"%></div>
      <% elsif !@valid_word  %>
       <div class="col-8 fs-4 bg-danger text-light p-4 rounded">Sorry, your word is is not constructed using the given letters</div>
      <% elsif !@english_word %>
      <div class="col-8 fs-4 bg-danger text-light p-4 rounded"> <%="Sorry, #{params[:word]} is not an English word"%></div>
      <% end %>
  </div>
  <div class="mt-3">
    <p>
      <%= link_to 'Play again', new_path, class: 'btn btn-info'  %>
    </p>
  </div>
</div>
